body{
    height: 95vh;
    width: 95;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #0B6800;
}

.botao{
    font-size: 30px;
    border: 2px solid #0B6800;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color:#0B6800;
    background: #ffffff;
}

.tela{
    border: 2px solid black;
}
